.canvas-container{
    position: relative;
    width: 100%;
    height: 100%;
}

#canvas {
    position: absolute;
}

.states-btn-container {
    position:absolute;
    left:30%;
    top: 5%;
    height: 100px;
}

